ul li {
  list-style-type: none;
}

.app-wrapper {
  display: grid;
  width: 1200px;
  margin: 0 auto;
  grid-template-areas:
    "header header"
    "nav content";

  grid-template-rows: 100px 1fr;
  grid-template-columns: 2fr 10fr;
  grid-gap: 10px;
}

.header {
  grid-area: header;
  background-color: rgba(50, 56, 176, 0.929);
  height: 100px;
  display: flex;
  align-items: center;
  padding-left: 5px;
}

.header__img {
  width: 80px;
  height: 80px;
}

.nav {
  grid-area: nav;
  background-color: rgba(50, 56, 176, 0.929);
}

.content {
  background-color: rgba(50, 56, 176, 0.929);
  grid-area: content;
}

.avatar__img {
  width: 60px;
  height: 60px;
}
